# env variables 可以配置在idea的run configuration中的environment variables中
#redis.host=localhost
#redis.password=xxx
#redis.port=8888
# postgres sql
#db.host=localhost
#db.port=8888
#db.username=xxx
#db.passwd=xxx
#db.dbname=xxx
#db.driver=postgresql
# rocketmq
#rocketmq.host=localhost
#rocketmq.port=8888
#rocketmq.consumer.topic=xxx
#rocketmq.producers.topic=xxx
#rocketmq.consumer.tag=*
#rocketmq.ssl.enabled=true
#rocketmq.consumers.group=xxx
